#comunity-images-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1rem;

  h1 {
    color: white;
    font-size: 2.5rem;
  }

  .images-list-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: start;
    width: 100%;
    height: calc(100vh - 184px);

    .image {
      position: relative;

      .add-button {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: calc(100% - 7px);
        border-radius: 0.5rem;
        opacity: 0;

        transition: all 0.2s;

        span {
          color: white;
          font-size: 0.75rem;
        }
      }

      .add-button:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.5);
      }

      // .add-button:hover + .img {
      //   opacity: 0.25;
      // }

      .img {
        height: 250px;
        border-radius: 0.5rem;
        transition: all 0.2s;
      }

      // .img:hover {
      //   opacity: 0.25;
      // }

      // .img:hover ~ .add-button {
      //   opacity: 1;
      // }
    }
  }
}
