<div id="password-change-container" [formGroup]="form">
  <span class="p-float-label">
    <input
      id="password"
      pInputText
      [type]="showPassword[0] ? 'text' : 'password'"
      formControlName="password"
    />
    <label for="password" class="float">Password</label>
    <i
      class="pi"
      [ngClass]="showPassword[0] ? 'pi-eye-slash' : 'pi-eye'"
      (click)="toggleShowPassword(0)"
    ></i>
  </span>
  <span class="p-float-label">
    <input
      id="newPassword"
      pInputText
      [type]="showPassword[1] ? 'text' : 'password'"
      formControlName="newPassword"
    />
    <label for="newPassword" class="float">New password</label>
    <i
      class="pi"
      [ngClass]="showPassword[1] ? 'pi-eye-slash' : 'pi-eye'"
      (click)="toggleShowPassword(1)"
    ></i>
  </span>
  <button
    pButton
    label="Change password"
    [disabled]="verifyForm()"
    (click)="changePassword()"
  ></button>
</div>
