<section id="auth-container">
  <h1>Welcome player</h1>
  <h2>Login below or <a href="#/auth/signin">register</a></h2>
  <form>
    <span class="p-float-label">
      <input id="email" pInputText type="text" />
      <label for="email" class="float">E-mail</label>
    </span>
    <span class="p-float-label">
      <input id="password" pInputText type="password" />
      <label for="password" class="float">Password</label>
    </span>
  </form>
  <button pButton label="Login"></button>
</section>
