<button
  pButton
  id="loading-button"
  [ngClass]="styleClass + typeClass"
  [style]="style"
  [disabled]="disabled || isLoading"
  (click)="handleClick()"
>
  <span
    *ngIf="!isLoading"
    class="w-full"
    [ngClass]="
      (disabled ? 'color-darker' : labelColor) +
      (fontWeight == 'bold' ? ' font-bold' : '') +
      (noWrap ? ' white-space-nowrap' : '')
    "
  >
    {{ label }}
  </span>
  <p-progressSpinner
    *ngIf="isLoading"
    styleClass="mx-auto custom-spinner"
    class="w-full"
    [style]="{ height: '24px' }"
    strokeWidth="5"
  ></p-progressSpinner>
</button>
