#custom-title-bar-container {
  -webkit-app-region: drag;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(30, 31, 34);

  .title {
    color: #fff;
    padding: 0.375rem 0.75rem;
  }
}
