#side-menu-container {
  height: 100%;
  background-color: rgb(30, 31, 34);
  border-radius: 0 0 0 1rem;

  .menu-container {
    display: flex;
    flex-direction: column;
    width: 150px;

    .menu-item {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.375rem;
      padding: 0.5rem;

      transition: all 0.2s;

      i {
        color: #fff;
      }

      p {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      &-selected {
        background-color: rgba(56, 56, 56, 0.678);
      }
    }

    .menu-item:hover {
      background-color: rgba(56, 56, 56, 0.678);
    }

    .separator {
      width: calc(100% - 1rem);
      height: 1px;
      background-color: #fff;
      align-self: center;
    }

    &-retracted {
      width: 34px;
    }
  }
}
