<p-sidebar [(visible)]="showImageList" position="right">
  <div class="header">
    <h3>Upload image</h3>
    <i class="pi pi-times" (click)="close()"></i>
  </div>
  <div
    *ngIf="showImageList"
    id="image-list-container"
    class="sidebar-content"
    overlay-scrollbars
  >
    <div class="item">
      <h4 class="title">Upload options</h4>
      <div class="content">
        <label class="input-file">
          <input
            (change)="loadLocalImage($event)"
            accept="image/*"
            type="file"
          />
          <span class="unselectable">Upload from local</span>
        </label>
        <span class="p-float-label">
          <input id="url" pInputText type="text" [(ngModel)]="imageUrl" />
          <label for="url">Insert url</label>
        </span>
        <button
          pButton
          label="Upload by image URL"
          [disabled]="imageUrl.length == 0"
          (click)="loadImageURL()"
        ></button>
      </div>
    </div>
    <div class="item">
      <div class="title">
        <h4>Image history</h4>
        <button
          pButton
          label="Clear"
          (click)="cleanImageHistory()"
          [disabled]="imageHistory.length == 0"
        ></button>
      </div>
      <div *ngIf="imageHistory.length == 0" class="empty-state">
        <img
          src="assets/images/image-list-empty-state.jpg"
          alt="Empty state image"
        />
      </div>
      <div *ngIf="imageHistory.length > 0" class="content">
        <div
          *ngFor="let image of imageHistory"
          class="image-item"
          (click)="loadFromImageHistory(image)"
        >
          <img
            [src]="image.value"
            alt="Image preview"
            (mouseover)="showImagePreview($event, image.value, true)"
            (mouseleave)="showImagePreview($event, image.value, false)"
          />
          <div class="image-info">
            <p
              [pTooltip]="image.name"
              tooltipPosition="left"
              (click)="copyToClipboard($event, image.name)"
            >
              {{ image.name }}
            </p>
            <p
              [pTooltip]="image.url"
              tooltipPosition="left"
              (click)="copyToClipboard($event, image.url)"
            >
              {{ image.url }}
            </p>
          </div>
          <span class="tag">{{ image.type }}</span>
        </div>
        <p-overlayPanel #op styleClass="image-preview-overlaypanel">
          <img class="image-preview" [src]="imagePreview" alt="Image preview" />
        </p-overlayPanel>
      </div>
    </div>
    <!-- <div class="item">
      <h4 class="title">Account images</h4>
      <div class="content"></div>
    </div> -->
  </div>
</p-sidebar>
