@import "../../../../core/components/settings/settings.component.scss";

#settings-container {
  .setting-item {
    align-items: flex-start;
  }

  input[type="file"] {
    display: none;
  }

  .input-file {
    cursor: pointer;
    border: none;
    background-color: #5472d4;
    border-radius: 0.625rem;
    text-align: center;
    color: white;
    padding: 0.25rem 0.5rem;

    transition: background-color 0.2s;

    span {
      font-size: 0.75rem;
    }
  }

  .input-file:hover {
    background-color: #4868d1;
  }

  .p-button-label {
    font-size: 0.75rem;
    font-weight: 400;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .p-float-label {
    margin-top: 1.5rem;
  }
}
