<p-sidebar [(visible)]="showImageList" position="right">
  <div class="header">
    <h3>Upload image</h3>
    <i class="pi pi-times" (click)="close()"></i>
  </div>
  <div
    *ngIf="showImageList"
    id="image-list-container"
    class="sidebar-content"
    overlay-scrollbars
  >
    <div class="item">
      <h4 class="title">Upload options</h4>
      <div class="content">
        <label class="input-file">
          <input
            (change)="loadLocalImage($event)"
            accept="image/*"
            type="file"
          />
          <span class="unselectable">Upload from local</span>
        </label>
        <span class="p-float-label">
          <input id="url" pInputText type="text" [(ngModel)]="imageUrl" />
          <label for="url">Insert url</label>
        </span>
        <button
          pButton
          label="Upload by image URL"
          [disabled]="imageUrl.length == 0"
          (click)="loadImageURL()"
        ></button>
      </div>
    </div>
    <div *ngIf="imageHistory.length > 0" class="item">
      <div class="title">
        <h4>
          Image history
          <small *ngIf="imageHistory.length == 10">full</small>
        </h4>
        <button
          pButton
          label="Clear"
          (click)="cleanImageHistory()"
          [disabled]="imageHistory.length == 0"
        ></button>
      </div>
      <div class="content">
        <div
          *ngFor="let image of imageHistory"
          class="image-item"
          (click)="loadImage(image)"
        >
          <img
            [src]="image.value"
            alt="Image preview"
            (mouseover)="showImagePreview($event, image.value, true)"
            (mouseleave)="showImagePreview($event, image.value, false)"
          />
          <div class="image-info">
            <p
              [pTooltip]="image.name"
              tooltipPosition="left"
              (click)="copyToClipboard($event, image.name)"
            >
              {{ image.name }}
            </p>
            <p
              [pTooltip]="image.url"
              tooltipPosition="left"
              (click)="copyToClipboard($event, image.url)"
            >
              {{ image.url }}
            </p>
          </div>
          <span
            *ngIf="
              !checkImageInAccount(image) &&
              accountImages.length <= 10 &&
              !isOfflineMode
            "
            class="upload-button"
            (click)="openUploadImageToAccount($event, image)"
            >Upload to account</span
          >
        </div>
        <p-overlayPanel #op styleClass="image-preview-overlaypanel">
          <img class="image-preview" [src]="imagePreview" alt="Image preview" />
        </p-overlayPanel>
      </div>
    </div>
    <div
      *ngIf="accountImages.length > 0 || isLoadingAccountImages"
      class="item"
    >
      <div class="title">
        <h4 class="white-space-nowrap">Account images</h4>
        <small *ngIf="!isLoadingAccountImages"
          >{{ accountImages.length }}/10</small
        >
        <p-progressSpinner
          *ngIf="isLoadingAccountImages"
          styleClass="ml-auto custom-spinner-blue"
          [style]="{ height: '24px' }"
          strokeWidth="5"
        ></p-progressSpinner>
      </div>
      <div *ngIf="!isLoadingAccountImages" class="content">
        <div
          *ngFor="let image of accountImages"
          class="image-item"
          (click)="loadImage(image)"
        >
          <img
            [src]="image.value"
            alt="Image preview"
            (mouseover)="showImagePreview($event, image.value, true)"
            (mouseleave)="showImagePreview($event, image.value, false)"
          />
          <div class="image-info">
            <p
              [pTooltip]="image.name"
              tooltipPosition="left"
              (click)="copyToClipboard($event, image.name)"
            >
              {{ image.name }}
            </p>
          </div>
          <span
            class="delete-button"
            (click)="deleteAccountImage($event, image)"
            >Delete</span
          >
          <p-overlayPanel #op styleClass="image-preview-overlaypanel">
            <img
              class="image-preview"
              [src]="imagePreview"
              alt="Image preview"
            />
          </p-overlayPanel>
        </div>
      </div>
    </div>
  </div>
</p-sidebar>
