<section id="auth-container">
  <h1>Sign in</h1>
  <h2>Already have an account? Login <a href="#/auth/login">here</a></h2>
  <form class="form" [formGroup]="form">
    <span class="p-float-label">
      <input id="email" pInputText type="text" formControlName="username" />
      <label for="email" class="float">Username</label>
    </span>
    <span class="p-float-label">
      <input id="email" pInputText type="text" formControlName="email" />
      <label for="email" class="float">E-mail</label>
    </span>
    <span class="p-float-label">
      <input
        id="password"
        pInputText
        type="password"
        formControlName="password"
      />
      <label for="password" class="float">Password</label>
    </span>
    <span class="p-float-label">
      <input
        id="password"
        pInputText
        type="password"
        formControlName="passwordRepeat"
      />
      <label for="password" class="float">Repeat password</label>
    </span>
  </form>
  <div *ngIf="error" class="error-message">
    <i class="pi pi-exclamation-triangle"></i>
    <p>{{ error }}</p>
  </div>
  <button
    pButton
    label="Sign in"
    [disabled]="verifyForm()"
    (click)="signin()"
  ></button>
</section>
