@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "overlayscrollbars/styles/overlayscrollbars.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Poppins, sans-serif;

  p {
    color: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
}

// globals --------------------------------------------------------------------

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.white-background {
  background-color: #fff !important;
  border-color: #fff !important;

  &-normal {
    @extend .white-background;
    color: #5472d4 !important;
  }

  &-cancel {
    @extend .white-background;
    color: #d74c4c !important;
  }
}

.custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite;
  stroke: white;
}

.image-preview {
  height: 200px;
}

.image-preview-overlaypanel {
  .p-overlaypanel-content {
    padding: 0.375rem 0.375rem 0 0.375rem !important;

    img {
      border-radius: 0.375rem;
    }
  }
}

@keyframes custom-progress-spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

// overrides ------------------------------------------------------------------
.p-dialog {
  p {
    color: black;
  }

  .p-dialog-header {
    gap: 1rem;
    padding: 1rem !important;
  }

  .p-dialog-content {
    padding: 0 1rem 1rem 1rem !important;
  }
}

.p-sidebar-left,
.p-sidebar-right,
.p-component-overlay {
  top: unset !important;
  bottom: 0;
  height: calc(100% - 37px) !important;
}

.p-sidebar-header {
  display: none !important;
}

.p-sidebar-footer {
  display: none !important;
}

.p-sidebar-content {
  padding: 1rem 0 1rem 1rem !important;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    margin-bottom: 1.5rem;

    i {
      cursor: pointer;
      color: black;
      font-size: 1rem;
    }
  }

  .sidebar-content {
    height: calc(100% - (24px + 29px));
    overflow-y: auto;
    padding-right: 1rem;
  }

  p {
    color: black;
  }
}

.p-float-label {
  position: relative;

  input {
    width: 100%;
  }

  i {
    cursor: pointer;
    color: #898989 !important;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    margin-top: -0.5rem;
  }
}

.p-toast-message-content {
  align-items: center !important;
}

.p-toast-detail {
  margin: 0;
}

.p-tooltip-text {
  font-size: 0.875rem;
}
