@import "primeng/resources/themes/viva-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Poppins, sans-serif;

  p {
    color: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
}

// globals --------------------------------------------------------------------

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.white-background {
  background-color: #fff !important;
  border-color: #fff !important;

  &-normal {
    @extend .white-background;
    color: #5472d4 !important;
  }

  &-cancel {
    @extend .white-background;
    color: #d74c4c !important;
  }
}

// overrides ------------------------------------------------------------------
.p-dialog {
  p {
    color: black;
  }

  .p-dialog-header {
    padding: 1rem !important;
  }

  .p-dialog-content {
    padding: 0 1rem 1rem 1rem !important;
  }
}

.p-sidebar-left,
.p-component-overlay {
  top: unset !important;
  bottom: 0;
  height: calc(100% - 37px) !important;
}

.p-sidebar-header {
  display: none !important;
}

.p-sidebar-footer {
  display: none !important;
}

.p-sidebar-content {
  padding: 1rem !important;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    i {
      cursor: pointer;
      color: black;
      font-size: 1rem;
    }
  }

  p {
    color: black;
  }
}
