#upload-image-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;

  .image-container {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    align-self: center;

    img {
      height: 250px;
      width: fit-content;
      align-self: center;
      border-radius: 0.5rem;
    }
  }
}
