#map-hider-container {
  display: flex;
  height: 100%;

  .map-container {
    width: calc(100% - 100px);
    height: 100%;
    padding: 1rem;
    overflow: hidden;
  }

  .settings-container {
    height: 100%;
    background-color: rgb(30, 31, 34);
    width: 100px;
  }
}
