<app-image-list (image)="loadImage($event)"></app-image-list>
<div id="map-hider-container">
  <div class="map-container">
    <div
      id="map"
      *ngIf="image || imageUrl"
      class="image-container"
      [ngClass]="isRetracted ? 'image-container-retracted-max-size' : ''"
    >
      <p-dialog
        *ngFor="let box of boxArray"
        [visible]="true"
        [closable]="false"
      >
        {{ box }}
      </p-dialog>
      <img *ngIf="image && image != ''" [src]="image" alt="Uplaoded image" />
      <img *ngIf="imageUrl" [src]="imageUrl" [alt]="imageUrl" />
    </div>
    <div *ngIf="!image && !imageUrl" class="empty-state">
      <p class="unselectable text-center">Upload an image to start</p>
    </div>
  </div>
  <div class="settings-container">
    <!-- <label class="input-file">
      <input (change)="loadImage($event)" accept="image/*" type="file" />
      <span class="unselectable">Upload image</span>
    </label>
    <button pButton label="Insert URL" (click)="openImageUrl()"></button> -->
    <button pButton label="Upload image" (click)="openImageList()"></button>
    <button
      pButton
      label="Project map"
      (click)="projectMap()"
      [disabled]="!image && !imageUrl"
    ></button>
    <div class="separator"></div>
    <button pButton label="Add box" (click)="addBox()"></button>
    <p-accordion *ngIf="boxArray.length > 0" (onOpen)="checkFirstTime()">
      <p-accordionTab header="Box control">
        <div class="box-control-container">
          <div *ngFor="let box of boxArray">
            <p-button
              (onClick)="removeBox(box)"
              [label]="'Box ' + box"
              styleClass="p-button-rounded p-button-danger w-full"
            ></p-button>
          </div>
        </div>
        <div class="bc-separator"></div>
        <p-button
          (onClick)="removeAllBoxes()"
          label="Remove all"
          styleClass="p-button-rounded p-button-danger w-full"
        ></p-button>
        <p-toggleButton
          (onChange)="toggleBoxStyle()"
          [(ngModel)]="showboxinfo"
          onLabel="Show style"
          offLabel="Show style"
          styleClass="w-full mt-2"
        ></p-toggleButton>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
