<div id="map-hider-container">
  <div class="map-container">
    <div
      *ngIf="image"
      class="image-container"
      [ngClass]="isRetracted ? 'image-container-retracted-max-size' : ''"
    >
      <img *ngIf="image && image != ''" [src]="image" alt="Uplaoded image" />
    </div>
    <div *ngIf="!image" class="empty-state">
      <p>Upload an image to start</p>
    </div>
  </div>
  <div
    class="settings-container"
    [ngClass]="isMaximized ? 'border-noround' : ''"
  >
    <label class="input-file">
      <input (change)="loadImage($event)" accept="image/*" type="file" />
      <span>Upload image</span>
    </label>
    <button pButton label="Add box" (click)="addBox()"></button>
  </div>
</div>

<p-dialog *ngFor="let box of boxArray" [visible]="true" [closable]="false">
  {{ box }}
</p-dialog>
