<p-sidebar [(visible)]="showSettings" (onHide)="close()">
  <div class="header">
    <h3>Settings</h3>
    <i class="pi pi-times" (click)="close()"></i>
  </div>
  <div *ngIf="showSettings" id="settings-container" class="sidebar-content">
    <div class="setting-item">
      <h4 class="title">Tutorials</h4>
      <app-tutorials></app-tutorials>
    </div>
    <div class="setting-item">
      <h4 class="title">Images</h4>
      <app-images></app-images>
    </div>
    <div class="setting-item">
      <div class="title">
        <h4 class="title">Account</h4>
        <p *ngIf="username && !isOfflineMode">Logged as: {{ username }}</p>
      </div>
      <app-account></app-account>
    </div>
    <div class="version-footer unselectable" (click)="addClickCount()">
      <p>v{{ lVersion }}</p>
    </div>
  </div>
</p-sidebar>
